<div class="card mt-5 col-10 mx-auto p-0 text-center shadow">
      <div class="card-header pb-0 card-header-custom">
        <p class="small text-muted">
          Commented by {{ user }} on {{ format_date createdAt }}
        </p>
      </div>
      <div class="card-body text-center">
        <p class="card-text">
          {{ content }}
        </p>
      </div>
</div>